@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

body {
    background-color: #DCB8B8;
}

/* header */

#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10000;
}

.header__inner {
    padding: 20px;
    position: relative;
}

.header__inner .link {
    position: absolute;
    right: 20px;
    top: 20px;
    margin-bottom: 5px;
    display: inline-block;
}

.header__inner .link a {
    font-weight: 200;
    font-family: "Work Sans";
    background-image: url(../sgv/arrow.svg);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
}

.header__inner h1 a {
    font-family: "Work Sans";
    font-weight: 400;
    font-size: 50px;
    letter-spacing: -0.1px;
    line-height: 1;
}

.header__inner p {
    font-family: "Work Sans";
    font-size: 20px;
    color: #513434;
}

/* footer */
.footer__inner {
    display: none;
}